<template name="landingPage">

<div class="large-12 columns intro-text">
	<h1>H1 Heading</h1>
	<h2>H2 Heading</h2>
	<h3>H3 Heading</h3>
	<h4>H4 Heading</h4>
	<h5>H5 Heading</h5>
	<h6>H6 Heading</h6>
	<p>This is a paragraph, and you can style it however you want. However, keep in mind that paragraphs will look different depending on what you are typing in it. This text, however, should be a good lorem ipsum substitute.</p>
	<p>And <a href="#">here</a> is a link that you can play with! And <a href="#">here</a>, and <a href="#">here</a>, and <a href="#">here too</a>!</p>
	<p>Moreover, here is an unordered list:</p>
	<ul>
		<li>List item 1</li>
		<li>List item 2</li>
		<li>List item 3
			<ul>
				<li>Sub-list item 1</li>
				<li>Sub-list item 2</li>
				<li>Sub-list item 3</li>
			</ul>
		</li>
	</ul>
	<p>And here is an ordered list:</p>
	<ol>
		<li>List item 1</li>
		<li>List item 2</li>
		<li>List item 3
			<ol>
				<li>Sub-list item 1</li>
				<li>Sub-list item 2</li>
				<li>Sub-list item 3</li>
			</ol>
		</li>
	</ol>
</div>

</template>